body{
    text-align: center;
}
div, button{
    font-size: 20px;
    margin-top: 10px;
}
h1{
    margin-top: 3%;
}
.hit{
    margin: 15px;
    cursor: pointer;
}
#onePlayer, #bot, #yamcha{
    cursor: pointer;
}
#mode{
    margin-top: 15%;
}
#game{
    display: none;
    margin-top: 3%;
}
#avatarP1, #avatarP2{
    position: absolute;
}
#avatarP1{
    top: 120px;
    left: 0;
}
#avatarP2{
    top: 120px;
    right: 0;
}
#res{
    font-size: 40px;
}
#ia{
    margin-left: 70px;
}
#score{
    margin-top: 5%;
}
.red{
    color: red;
}
.green{
    color: green;
}